/* variables */
$blue: rgb(29, 29, 219);
$black: rgb(32, 32, 32);
$green: rgb(35, 192, 35);
$red: rgb(167, 29, 29);
$yellow: rgb(228, 228, 34);

$bg-light: lightgrey;
$bg-dark: darkgrey;

$font-family: Arial;